.App {
  width: 80%;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.App-nav {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(12, 160, 194);
}
.App-nav ul {
  margin: 0;
  padding: 0;
}
.App-nav button {
  font-size: 27px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.App-nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  border-bottom: 3px solid transparent;
}

.App-nav-item button:hover {
  color: rgb(113, 112, 112);
}
.App-nav-item.selected {
  border: 2px solid blue;
  border-radius: 10px;
}
.App-content {
  margin-top: 40px;
}
