.Item{
    border-bottom: 1px solid rgb(12, 160, 194);
    padding: 10px;
}
.Item{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
.Item-right{
    margin: auto 20px;
}
.Item-left{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.Item-image{
    width: 120px;
    height: 120px;
    border: 2px solid black;
}
.Item-title-discription{
    margin: auto 10px;
}
.Item-title{
    font-weight: bold;
    font-size: 22px;
}

.Item-price{
    background-color: blue;
    color: white;
    padding: 7px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    font-weight: bold;
    border-radius:7px ;
}
.Item-button{
    margin-right: auto;
    margin-left: auto;
    padding: 7px;
    background-color: rgba(255, 179, 0, 0.961);
    border-radius: 5px;
    cursor: pointer;

}
.Item-button:hover{
    color: white;
    background-color: rgb(197, 135, 22);
    padding: 10px;
}