@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
}

:root {
  --primary-color: #cc8e1c;
  --secondary-color: #3717ad;
}

a{
  text-decoration: none;
}

body {
  background-color: #f8e8e8;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  overflow: hidden;
  width: 96%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 2%;
  top: 0;
  align-items: center;
  background-color: var(--primary-color);
}

.active {
  color: #f8e8e8;
  border-bottom: 3px solid #f8e8e8;
}
.logo {
  width: 80px;
}

nav form {
  display: flex;
  height: 30px;
}

nav form input {
  border: none;
  color: gray;
  outline: 2px solid blueviolet;
}
nav form input[type=search] {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
nav form input[type=submit] {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
nav form input:focus{
  outline: 2px solid var(--secondary-color);
}
nav ul {
  list-style: none;
  display: inline;
}

.nav-list {
  font-size: 20px;
  display: inline-flex;
  gap: 20px;
}

.App-nav-item button:hover {
  color: #706767;
}

.App-nav-item.selected button {
  border: 3px solid #0ca0c2;
  border-radius: 5px;
  color: #f8e8e8;
}

.menu-icon{
  display: none;
}

.App-content {
  margin-top: 90px;
}

@media screen and (max-width: 678px) {
  .nav-list{
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu-icon{
    display: block;
  }
}
