@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
}

:root {
  --primary-color: #fab12a;
  --secondary-color: #3717ad;
}

a{
  text-decoration: none;
}

body {
  background-color: #f8e8e8;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  background-color: var(--primary-color);
}

@media screen and (max-width: 678px) {
  .nav-list{
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu-icon{
    display: block;
  }
}
