@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
}

:root {
  --primary-color: #fab12a;
  --secondary-color: #cfc4f8;
  --secondary-color-deep: #b3aad4;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: var(--secondary-color);
  padding-top: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  transform: scale(1.1);
  width: 60px;
  height: 60px;
}

.navbar .logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.navbar .nav-login-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  border: none;
  font-weight: 900;
  padding: 5px 10px;
  border-radius: 20px;
}

.navbar .nav-login-btn:hover,
.navbar .nav-login-btn:focus {
  background-color: #e09d20;
  transform: scale(1.1);
  transition: 0.5s;
}

.nav-logout-btn {
  font-size: 18px;
  border: none;
}

.nav-bland a {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar a {
  color: #707070;
  text-decoration: none;
}

.nav-link a {
  text-decoration: none;
}

.nav-user-dropdown > a {
  font-weight: 700;
  font-size: 17px;
  color: rgb(24, 23, 23);
}

.navbar a:hover {
  color: #000;
}

.nav-bland a:hover {
  color: var(--primary-color);
}

.nav-user-dropdown {
  text-align: center;
  background-color: var(--secondary-color-deep);
  padding: 5px;
  border-radius: 10px;
}

.cart-icon {
  background-image: url('../images/cart-icon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cart-icon span {
  color: var(--primary-color);
  font-size: 35px;
  margin-top: -10px;
  margin-left: 5px;
  font-weight: 900;
}

/* give a dot as button content */
.rec-dot::before {
  content: '.';
  color: transparent;
}

@media screen and (max-width: 768px) {
  .navbar .container {
    width: 100%;
  }

  .menu-icon {
    display: block;
  }

  .nav-dropdown,
  .nav-user-dropdown,
  .nav-link {
    text-align: center;
  }
}
