.my-cart-text {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 10px 50px;
}

/* Style cart content container */
.cart-container {
  display: grid;
  grid-gap: 10px;
  background-color: var(--secondary-color);
  grid-template-columns: 3fr 1fr;
  padding: 20px;
}

.cart-products-container {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart-product {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-right: 20px;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
}

.cart-product-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart-product-info h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.delete-btn {
  padding: 0;
  cursor: pointer;
  width: fit-content;
  background: transparent;
  border: none;
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
  color: #a16d0a;
}

.text-right {
  color: #a16d0a;
  font-style: italic;
  text-decoration: underline;
}

.cart-product-info p {
  padding: 0;
  font-size: 20px;
  color: #000;
}

.cart-product > div:first-child {
  background-color: #fff;
}

.cart-product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

.quantity span {
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.quantity button {
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
}

.cart-empty {
  display: flex;
  background-color: var(--secondary-color);
}

.cart-empty img {
  margin: 0 auto;
}

.cart-total-cost {
  display: flex;
  margin: 20px;
  gap: 10px;
  justify-content: flex-end;
  font-size: 20px;
  color: #cc8e1c;
  font-weight: 600;
}

/* checkout section */
.checkout-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkout-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.checkout-btn {
  margin: auto;
  width: fit-content;
  padding: 0 15px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.choose-product .my-products-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total-cost-to-checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
}

@media screen and (max-width: 786px) {
  .cart-container {
    grid-template-columns: 1fr;
  }

  /* product card  */
  .cart-product {
    grid-template-columns: 1fr 1fr;
    margin-right: 5px;
  }

  .cart-empty img {
    width: 150px;
  }

  .checkout-product {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .cart-product {
    grid-template-columns: 1fr;
  }

  .cart-product img {
    display: none;
  }
}
