.home-container {
  display: block;
}

.home-image {
  width: 100%;
  margin-top: -40px;
}

.home-description {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font-style: italic;
}

h2 {
  color: var(--secondary-color);
  margin-left: 20px;
}
