@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
}

:root {
  --primary-color: #cc8e1c;
  --secondary-color: #3717ad;
}

body {
  background-color: #f8e8e8;
  font-family: 'Poppins', sans-serif;
}

.App {
  border-radius: 20px;
}

.App-nav {
  padding: 10px;
  background-color: var(--primary-color);
}

.App-nav ul {
  margin: 0;
  padding: 0;
}

.App-nav button {
  font-size: 25px;
  font-weight: 700;
  background: transparent;
  color: rgb(75, 75, 78);
  border: none;
  cursor: pointer;
}

.App-nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 5%;
}

.App-nav-item button:hover {
  color: #706767;
}

.App-nav-item.selected button {
  border: 3px solid #0ca0c2;
  border-radius: 5px;
  color: #f8e8e8;
}

@media screen and (max-width: 678px) {
  .App-nav button {
    font-size: 22px;
  }

  .App-nav-item {
    margin-right: 2%;
  }
}
