/* Style cart content container */
.cart-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
}

.payment-details-container {
  background-color: #fff;
}

.payment-details-container h3 {
  text-align: center;
  color: var(--secondary-color);
}

.cart-products-container {
  width: 100%;
  list-style: none;
  margin-left: -40px;
}

/* product card  */
.cart-product-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 3px solid #0ca0c2;
}

.product-control-count {
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}

.cart-total-cost {
  display: flex;
  margin: 20px;
  gap: 10px;
  justify-content: flex-end;
  font-size: 20px;
  color: #cc8e1c;
  font-weight: 600;
}

.cart-total-cost span:first-child {
  color: var(--secondary-color);
}

@media screen and (max-width: 678px) {
  .cart-container {
    grid-template-columns: 1fr;
  }

  /* product card  */
  .cart-product-container {
    grid-template-columns: 1.5fr 2fr;
  }
}
