/* products-container */
.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  grid-gap: 20px;
}

/* popular item card  */
.product-card {
  width: 100%;
  background-color: #d1c9c9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 85%;
  margin: 7.5%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.product-image:hover {
  width: 94%;
  margin: 3%;
}

.product-content {
  margin: 7.5%;
  margin-top: 0;
  flex: 1;
}

.product-title {
  font-weight: 700;
  opacity: 0.9;
  line-height: 40px;
  font-size: 20px;
  color: #3717ad;
}

.product-description {
  word-spacing: 7px;
  line-height: 20px;
  padding-top: 10px;
}

.product-price {
  color: #cc8e1c;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 7.5%;
}

.product-button > button {
  width: 100%;
  background-color: #cc8e1c;
  display: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  height: 40px;
  border-radius: 5px;
}

/* move button 5px bottom when clicked */
.product-button > button:active {
  transform: translateY(5px);
}

/* slightly change the background color of the buy button when hover */
.product-button > button:hover {
  background-color: #9c6806;
}

/* Display buy button when card onhover */
.product-container:hover > .product-button > button {
  display: block;
}
