/* products-container */
.products-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  grid-gap: 10px;
  margin: 40px 2.5%;
}

/* popular item card  */
.product-card {
  width: 100%;
  background-color: white;
}

.product-image {
  width: 85%;
  margin: 7.5%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.product-image:hover {
  width: 94%;
  margin: 3%;
}

.product-content {
  margin: 7.5%;
  margin-top: 0;
}

.product-title {
  font-weight: 700;
  opacity: 0.9;
  line-height: 40px;
  color: var(--secondary-color);
}

.product-description {
  word-spacing: 7px;
  line-height: 20px;
  padding-top: 10px;
}

.product-price-btn-container {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-price {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
}

.product-button > button {
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

/* move button 5px bottom when clicked */
.product-button > button:active {
  transform: translateY(5px);
}

/* slightly change the background color of the buy button when hover */
.product-button > button:hover {
  background-color: #9c6806;
}

@media screen and (max-width: 678px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }
}
